{
    "extends": [
        "wesbos"
    ],
    "rules": {
        "no-unused-vars": "warn",
        "object-shorthand": "off",
        "allowForLoopAfterthoughts": true,
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "endOfLine": "auto",
                "tabWidth": 4,
                "printWidth": 120
            }
        ]
    }
}